<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Verify Email</title>
    <link rel="icon" href="/logo.jpeg" type="image/icon type">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <!-- Font Awesome for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
        }

        body {
            background-image: url("/Home1.jpg");
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            color: #f0f0f0;
            overflow: hidden;
        }

        body::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: -1;
        }

        /* Top Navigation Bar */
        .navbar {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            padding: 15px 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: transparent;
            z-index: 1000;
        }

        .navbar .logo {
            display: flex;
            align-items: center;
        }

        .navbar .logo img {
            height: 40px;
            margin-right: 10px;
            transition: transform 0.3s ease;
        }

        .navbar .logo img:hover {
            transform: rotate(10deg);
        }

        .navbar .logo span {
            font-size: 24px;
            font-weight: bold;
            letter-spacing: 2px;
            color: #fff;
            text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8);
        }

        .navbar .nav-links a {
            display: inline-block;
            padding: 10px 20px;
            margin-left: 20px;
            background-image: linear-gradient(45deg, #6a11cb, #2575fc);
            color: #fff;
            text-decoration: none;
            border-radius: 25px;
            font-size: 16px;
            font-weight: bold;
            transition: background-image 0.5s ease, transform 0.3s ease;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
            position: relative;
        }

        .navbar .nav-links a::after {
            content: '';
            position: absolute;
            width: 0%;
            height: 2px;
            bottom: -5px;
            left: 0;
            background-color: #fff;
            transition: width 0.3s;
        }

        .navbar .nav-links a:hover::after {
            width: 100%;
        }

        .navbar .nav-links a:hover {
            background-image: linear-gradient(45deg, #5d09b1, #1f65e3);
            transform: scale(1.05);
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
        }

        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 750px;
            padding-top: 40px;
            padding-bottom: 0;
        }

        .login-box {
            display: flex;
            align-items: stretch;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 20px;
            padding: 30px;
            backdrop-filter: blur(10px);
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            width: 100%;
            max-width: 800px;
            min-height: 500px;
            position: relative;
        }

        .login-box:hover {
            transform: translateY(-10px);
            box-shadow: 0 12px 40px rgba(0, 0, 0, 0.7);
        }

        .logo-section {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            padding-right: 20px;
        }

        .logo-image {
            width: 80px;
            height: 80px;
            margin-right: 15px;
            transition: transform 0.3s ease;
        }

        .logo-image:hover {
            transform: rotate(10deg);
        }

        .logo-text h1 {
            font-family: 'Roboto', sans-serif;
            font-size: 36px;
            margin-bottom: 0;
            color: #ffffff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        .partition {
            width: 1px;
            background-color: rgba(255, 255, 255, 0.3);
            margin: 0 10px;
        }

        .login-form {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            padding-top: 90px;
        }

        .form-group {
            margin-bottom: 15px;
            position: relative;
        }

        .form-group label {
            color: #fff;
            font-size: 14px;
            margin-bottom: 5px;
            display: block;
        }

        .otp-container {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
        }

        .otp-container input {
            width: 100%;
            border: none;
            border-radius: 5px;
            outline: none;
            background: rgba(255, 255, 255, 0.2);
            color: #fff;
            padding: 10px 10px 10px 35px;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
            font-size: 14px;
            margin-right: 5px;
        }

        .otp-container input::placeholder {
            color: rgba(255, 255, 255, 0.7);
        }

        .otp-container input:focus {
            background: rgba(255, 255, 255, 0.3);
            box-shadow: 0 0 5px rgba(40, 116, 240, 0.7);
        }

        .otp-icon {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
            font-size: 18px;
        }

        .otp-divider {
            position: absolute;
            left: 45px;
            top: 10px;
            bottom: 10px;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.3);
        }

        .login-button {
            width: 100%;
            background-image: linear-gradient(45deg, #ff416c, #ff4b2b);
            color: #fff;
            border: none;
            padding: 15px;
            border-radius: 30px;
            cursor: pointer;
            font-size: 16px;
            font-weight: bold;
            margin-top: 18px;
            transition: background-image 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
            box-shadow: 0 4px 15px rgba(255, 0, 0, 0.3);
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login-button i {
            margin-right: 8px;
        }

        .login-button:hover {
            background-image: linear-gradient(45deg, #e60039, #e63900);
            transform: translateY(-2px);
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
        }

        .register-link {
            text-align: center;
            color: white;
            margin-top: 20px;
            font-size: 16px;
        }

        .register-link a {
            color: #ff4b2b;
            font-weight: bold;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        .register-link a:hover {
            color: #ff416c;
            text-decoration: underline;
        }

        .error-message {
            color: #ff4b2b;
            font-size: 14px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 0;
            height: auto;
            position: relative;
        }

        .input-container {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }

        .input-container input {
            width: 100%;
            border: none;
            border-radius: 5px;
            outline: none;
            background: rgba(255, 255, 255, 0.2);
            color: #fff;
            padding: 10px 10px 10px 60px;
            transition: background-color 0.3s ease, box-shadow 0.3s ease;
            font-size: 14px;
        }

        .input-container input::placeholder {
            color: rgba(255, 255, 255, 0.7);
        }

        .input-container input:focus {
            background: rgba(255, 255, 255, 0.3);
            box-shadow: 0 0 5px rgba(40, 116, 240, 0.7);
        }

        .input-container i {
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
            font-size: 18px;
        }

        .input-divider {
            position: absolute;
            left: 45px;
            top: 10px;
            bottom: 10px;
            width: 1px;
            background-color: rgba(255, 255, 255, 0.3);
        }
    </style>
    <script>
        function validateForm() {
            var otp = getOTP();

            if (otp.length !== 4 || isNaN(otp)) {
                document.getElementById("error-message").innerText = "Invalid OTP entered.";
                return false;
            }

            document.getElementById("otp").value = otp;
            document.getElementById("error-message").innerText = "";
            return true;
        }

        function moveNext(event, currentIndex) {
            const input = event.target;
            const nextInput = document.getElementById(`otp-${currentIndex + 1}`);
            const prevInput = document.getElementById(`otp-${currentIndex - 1}`);

            if (!/^\d$/.test(input.value)) {
                input.value = '';
                return;
            }

            if (input.value && nextInput) {
                nextInput.focus();
            }
        }

        function movePrev(event, currentIndex) {
            const input = event.target;
            const prevInput = document.getElementById(`otp-${currentIndex - 1}`);

            if (event.key === "Backspace" && !input.value && prevInput) {
                prevInput.focus();
            }
        }

        function getOTP() {
            const otpBoxes = document.querySelectorAll(".otp-box");
            let otp = '';
            otpBoxes.forEach(box => otp += box.value.trim());
            return otp;
        }
    </script>
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <img src="/logo.jpeg" alt="Git Helper Logo">
            <span>Git Helper</span>
        </div>
        <div class="nav-links">
            <a href="/home"><i class="fas fa-home"></i> Home</a>
        </div>
    </div>
    <div class="login-container">
        <div class="login-box">
            <div class="logo-section">
                <img src="/logo.jpeg" alt="Logo" class="logo-image">
                <div class="logo-text">
                    <h1>Git Helper</h1>
                </div>
            </div>
            <div class="partition"></div>
            <div class="login-form">
                <form action="/auth/email-verification" method="POST" onsubmit="return validateForm()">
                    <div class="form-group">
                        <br><br><br><br>
                        <label for="otp"><i class="fas fa-lock"></i> Enter OTP</label>
                        <div class="otp-container">
                            <input type="text" maxlength="1" class="otp-box" id="otp-1" oninput="moveNext(event, 1)"
                                onkeydown="movePrev(event, 1)" required />
                            <input type="text" maxlength="1" class="otp-box" id="otp-2" oninput="moveNext(event, 2)"
                                onkeydown="movePrev(event, 2)" required />
                            <input type="text" maxlength="1" class="otp-box" id="otp-3" oninput="moveNext(event, 3)"
                                onkeydown="movePrev(event, 3)" required />
                            <input type="text" maxlength="1" class="otp-box" id="otp-4" oninput="moveNext(event, 4)"
                                onkeydown="movePrev(event, 4)" required />
                        </div>
                    </div>
                    <button type="submit" class="login-button">
                        <i class="fa fa-paper-plane"></i> Submit
                    </button>
                </form>
                <p id="error-message" class="error-message"></p>
            </div>
        </div>
    </div>
</body>

</html>